# Android SDK location
# Uncomment and update this path to match your system
# sdk.dir=C:\\Users\\YourUser\\AppData\\Local\\Android\\Sdk
#
# On macOS:
# sdk.dir=/Users/YourUser/Library/Android/sdk
#
# On Linux:
# sdk.dir=/home/YourUser/Android/Sdk
